@media screen and (min-width: 600px) {

  .footer {
    display: block;
    position: relative;
    background-color: #dbf9ff;
    min-height: 75px;
  }

  #rightsText {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
  }

}

@media screen and (min-width: 1000px) {

  .footer {
    display: block;
    position: relative;
    background-color: #dbf9ff;
    min-height: 100px;
  }

  #rightsText {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
  }

}
