@media screen and (min-width: 600px) {

  .jumbo {
    display: block;
    max-height: 250px;
  }

  .sliderContainer {
    position: relative;
    background-image: url("../img/jumbo-background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
  }

  .innerSliderContainer {
    width: 300%;
    height: 250px;
  }

  .slider1 {
    width: 33.33%;
    float: left;
    text-align: center;
  }

  .slider2 {
    width: 33.33%;
    float: left;
    text-align: center;
  }

  .slider3 {
    width: 33.33%;
    float: left;
    text-align: center;
  }

  .translucentBox {
    margin-left: 10%;
    width: 80%;
    height: 250px;
    background-color:rgba(255, 255, 255, 0.3);
    text-align: left;
  }

  .leftSideSlider {
    float: left;
    width: 40%;
  }

  .leftSideSlider h1 {
    font-size: 25px;
  }

  .leftSideSlider a h1 {
    font-size: 20px;
  }

  .rightSideSlider {
    float: right;
    max-width: 60%;
  }

  .jumboImage {
    max-height: 250px;
    max-width: 100%;
  }

  .jumboPrice {
    margin-top: 75px;
    opacity: 0.9;
    background-color: red;
    color: white;
  }

  .jumboPrice:hover {
    opacity: 1;
  }

  .leftSideSlider a {
    text-decoration: none;
  }

}

@media screen and (min-width: 1000px) {

  .jumbo {
    display: block;
    max-height: 400px;
  }

  .sliderContainer {
    position: relative;
    background-image: url("../img/jumbo-background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
  }

  .innerSliderContainer {
    width: 300%;
    height: 400px;
  }

  .slider1 {
    width: 33.33%;
    float: left;
    text-align: center;
  }

  .slider2 {
    width: 33.33%;
    float: left;
    text-align: center;
  }

  .slider3 {
    width: 33.33%;
    float: left;
    text-align: center;
  }

  .translucentBox {
    margin-left: 20%;
    width: 60%;
    height: 398px;
    background-color:rgba(255, 255, 255, 0.3);
    text-align: left;
  }

  .leftSideSlider {
    float: left;
    width: 40%;
  }

  .rightSideSlider {
    float: right;
    max-width: 60%;
  }

  .jumboImage {
    max-height: 350px;
    max-width: 100%;
  }

  .jumboPrice {
    margin-top: 75px;
    opacity: 0.9;
    background-color: red;
    color: white;
  }

  .jumboPrice:hover {
    opacity: 1;
  }

  .leftSideSlider a {
    text-decoration: none;
  }

}
