* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 600px) {

  * {
    margin: 0;
    padding: 0;
  }

  h1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

}

@media screen and (min-width: 1000px) {

  * {
    margin: 0;
    padding: 0;
  }

  h1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

}
