@media screen and (min-width: 600px) {

  .navigation {
    display: block;
    width: 100%;
    height: 35px;
    background-color: #86a5d6;
    text-decoration: none;
  }

  .navigation a {
    text-decoration: none;
  }

  .navigation a:hover {
    text-decoration: underline;
  }

  .leftNavList {
    padding-top: 8px;
    list-style-type: none;
  }

  .leftNavList li {
    float: left;
    padding-left: 4%;
  }

  .middleNavList {
    list-style-type: none;
  }

  .middleNavList li {
    float: left;
    padding-left: 4%;
  }

  #firstMiddleItem {
    padding-left: 13%;
  }

  .basket {
    float: right;
    padding-right: 4%;
  }

  .NavDropDown {
    position: relative;
  }

  .NavDropDownContent {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #86a5d6;
  }

  .NavDropDown:hover .NavDropDownContent {
    display: block;
  }

  .dropDownList {
    list-style-type: none;
    min-width: 150px;
  }

  .dropDownItem {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: #86a5d6;
    border-top: 1px solid green;
  }

  #topItem {
    margin-top: 5px;
    border: none;
  }

  .dropDownItem:hover {
    background-color: rgb(200, 200, 200);
    color: black;
  }

}

@media screen and (min-width: 1000px) {

  .navigation {
    display: block;
    height: 50px;
    background-color: #86a5d6;
    text-decoration: none;
  }

  .navigation a {
    text-decoration: none;
  }

  .navigation a:hover {
    text-decoration: underline;
  }

  .leftNavList {
    padding-top: 15px;
    list-style-type: none;
  }

  .leftNavList li {
    float: left;
    padding-left: 6%;
  }

  .middleNavList {
    list-style-type: none;
  }

  .middleNavList li {
    float: left;
    padding-left: 5%;
  }

  #firstMiddleItem {
    padding-left: 20%;
  }

  .basket {
    float: right;
    padding-right: 8%;
  }

  .NavDropDown {
    position: relative;
  }

  .NavDropDownContent {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #86a5d6;
  }

  .NavDropDown:hover .NavDropDownContent {
    display: block;
  }

  .dropDownList {
    list-style-type: none;
    min-width: 150px;
  }

  .dropDownItem {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: #86a5d6;
    border-top: 1px solid green;
  }

  #topItem {
    margin-top: 17px;
    border: none;
  }

  .dropDownItem:hover {
    background-color: rgb(200, 200, 200);
    color: black;
  }

}
