#targetBarLogo {
  display: none;
}

#underLogoText {
  display: none;
}

.search {
  display: none;
}

.login {
  display: none;
}

.targetBar {
  background-color: #dbf9ff;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  height: auto;
  width: 85%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2%;
  font-size: 13px;
}

.logo h1 {
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  cursor: default;
  color: green;
}

.hamburger {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 35px;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburgerLine {
  margin-bottom: 5px;
  border-top: 3px solid green;
  border-radius: 5px;
}

#hamburgerTopLine {
  margin-top: 5px;
}

@media screen and (min-width: 600px) {

  .targetBar {
    display: block;
    height: 60px;
    background-color: #dbf9ff;
    padding-bottom: 20px;
    text-align: center;
  }

  .logo {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: normal;
    width: auto;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #GrillBerTitle {
    padding-bottom: 0px;
  }

  .hamburger {
    display: none;
  }

  .search {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    width: 35%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #searchTextBox {
    display: inline;
    width: 85%;
    height: 25px;
    padding-left: 5px;
    border: none;
  }

  #searchTextBox:focus {
    outline: none;
  }

  #searchBarButton {
    display: inline;
    vertical-align: top;
    background: url("../img/search-icon-md.png");
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    margin-left: -2%;
    cursor: pointer;
    border: none;
  }

  #searchBarButton:hover {
    opacity: 0.9;
  }

  #searchBarButton:focus {
    outline: none;
  }

  .login {
    display: inline-block;
    vertical-align: top;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
  }

  .login a {
    text-decoration: none;
    color: black;
  }

  .login a:hover {
    text-decoration: underline;
  }

  #targetBarLogo {
    display: none;
  }

  #underLogoText {
    display: none;
  }

  #GrillBerTitle {
    float: left;
  }

  #loginLink {
    padding-left: 10px;
    border-left: 1px solid black;
  }

  #registerLink {
    padding-right: 5px;
  }

}

@media screen and (min-width: 700px) {

  .targetBar {
    display: block;
    height: 60px;
    background-color: #dbf9ff;
    padding-bottom: 20px;
    text-align: center;
  }

  .logo {
    display: inline-block;
    vertical-align: top;
    line-height: normal;
    text-align: center;
    width: auto;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .hamburger {
    display: none;
  }

  #GrillBerTitle {
    padding-bottom: 0px;
  }

  .search {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    width: 35%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #searchTextBox {
    display: inline;
    width: 85%;
    height: 25px;
    padding-left: 5px;
    border: none;
  }

  #searchTextBox:focus {
    outline: none;
  }

  #searchBarButton {
    display: inline;
    vertical-align: top;
    background: url("../img/search-icon-md.png");
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    margin-left: -2%;
    cursor: pointer;
    border: none;
  }

  #searchBarButton:hover {
    opacity: 0.9;
  }

  #searchBarButton:focus {
    outline: none;
  }

  .login {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
  }

  .login a {
    text-decoration: none;
    color: black;
  }

  .login a:hover {
    text-decoration: underline;
  }

  #targetBarLogo {
    display: inline;
    float: left;
    width: 30%;
  }

  #GrillBerTitle {
    float: left;
  }

  #loginLink {
    padding-left: 10px;
    border-left: 1px solid black;
  }

  #registerLink {
    padding-right: 5px;
  }

}

@media screen and (min-width: 1000px) {

  .targetBar {
    display: block;
    height: 100px;
    background-color: #dbf9ff;
    padding-bottom: 20px;
    text-align: center;
  }

  .logo {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #GrillBerTitle {
    padding-bottom: 0px;
  }

  .hamburger {
    display: none;
  }

  .search {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    width: 35%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #searchTextBox {
    display: inline;
    width: 85%;
    height: 34px;
    padding-left: 5px;
    border: none;
  }

  #searchTextBox:focus {
    outline: none;
  }

  #searchBarButton {
    display: inline;
    vertical-align: top;
    background: url("../img/search-icon-md.png");
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    height: 34px;
    width: 34px;
    margin-left: -2%;
    cursor: pointer;
    border: none;
  }

  #searchBarButton:hover {
    opacity: 0.9;
  }

  .login {
    display: inline-block;
    vertical-align: top;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 40px;
  }

  .login a {
    text-decoration: none;
    color: black;
  }

  .login a:hover {
    text-decoration: underline;
  }

  #targetBarLogo {
    display: block;
    width: auto;
    float: left;
  }

  #underLogoText {
    display: block;
  }

  #GrillBerTitle {
    float: left;
  }

  #loginLink {
    padding-left: 10px;
    border-left: 1px solid black;
  }

  #registerLink {
    padding-right: 5px;
  }

}
